@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.motion-underline::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: white;
  height: 2px;
  width: 0;
  opacity: 0;
  transition:
    opacity 0.4s ease-in-out,
    left 0.4s ease-in-out,
    width 0.4s ease-in-out;
}

.motion-underline:hover::before {
  left: 0;
  width: calc(100% - 16px);
  opacity: 1;
}

svg.company-logo {
  width: 214px;
  height: 45px;
  font-weight: 900;
}

svg.company-logo text.company-logo-text {
  stroke: white;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  stroke-width: 2;
  animation: 4s infinite alternate animate-stroke;
  letter-spacing: 8px;
  text-wrap: wrap;
}

@keyframes animate-stroke {
  0% {
    fill: transparent;
    stroke: white;
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }

  50% {
    fill: transparent;
    stroke: white;
    stroke-width: 3;
  }

  80%,
  100% {
    fill: white;
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}

.magneto {
  width: 280px;
  height: 280px;
  padding: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;
  background: transparent;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  color: #000000;
  border: 2px solid black;
}

.magneto:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.8);
  color: #ffffff;
  border: 2px solid rgb(255, 255, 255);
}

.textWrapper {
  text-align: center;
}

.ThreeDText {
  font-size: 8rem;
  color: rgb(0, 0, 0);
  line-height: 0;
}

.ThreeDText:nth-child(even) {
  color: rgb(99, 99, 99);
}

.trackArrowContainer {
  top: calc(50% - 75px);
}

.trackArrow {
  width: 150px;
  height: 150px;
}

@media (max-width: 1280px) {
  svg.company-logo {
    width: 140px;
    height: 24px;
  }

  svg.company-logo text.company-logo-text {
    font-size: 1rem;
  }

  .ThreeDText {
    font-size: 2.8rem;
  }

  .trackArrowContainer {
    top: calc(50% - 30px);
  }

  .trackArrow {
    width: 60px;
    height: 60px;
  }
}
