.hero-img {
  background-image: url(../public/images/heroBanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-img-logo {
  position: absolute;
  top: 48px;
  left: 48px;
}

@media (max-width: 1280px) {
  .hero-img {
    background-image: url(../public/images/heroBannerMobile.jpg);
  }
  .hero-img-logo {
    position: absolute;
    top: 24px;
    left: 24px;
  }
}

.login-signup-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  height: 100vh;
}

.display-flex-row {
  display: flex;
  gap: 16px;
}

.display-flex-col-login {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
