@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-hero {
  transition: background-color 1s ease;
  animation: fadeIn 1s ease;
}

.login-signup-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  height: 100vh;
}

.display-flex-row {
  display: flex;
  gap: 16px;
}

.display-flex-col-login {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
