@import "./motion/motion.css";

/* Remove outline on normal mouse click */
.focus-outline:focus {
  outline: none;
}

/* Add outline on focus for keyboard navigation */
.focus-outline:focus:not(:focus-visible) {
  outline: none;
}

/* Add outline on focus for tab selection */
.focus-outline:focus-visible {
  outline: 4px solid #1aff1a;
  outline-offset: 8px;
}

.hero-img {
  background-image: url(../public/images/heroBanner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-img-logo {
  position: absolute;
  top: 48px;
  left: 48px;
  text-decoration: none;
}

.text-with-border::before {
  content: "";
  background-color: white;
  height: 2px;
  bottom: 0;
  position: absolute;
  left: 50%;
  opacity: 0;
  width: 0;
  transition:
    width 0.3s ease,
    left 0.3s ease,
    right 0.3s ease,
    opacity 0.3s ease;
}

.text-with-border:hover::before {
  left: 0;
  right: 16px;
  width: calc(100% - 16px);
  opacity: 1;
}

@keyframes zoom {
  0%,
  100% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
}

.sign-in-up-preview {
  background: #b369c6;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transform: perspective(800px) rotateY(10deg) rotateX(-10deg);
  transition: transform 0.3s ease-in-out;
  background: url(../public/images/friends.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: zoom 10s infinite;
}

.sign-in-up-preview:hover {
  transform: perspective(800px) rotateY(-10deg) rotateX(10deg);
}

.dark-blue-span {
  font-weight: 600;
  color: #a30ec9;
  cursor: pointer;
}

.custom-file-upload {
  border-bottom: 2px solid black;
  padding: 0 0 12px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: rgb(132, 129, 129);
}

.custom-file-upload input[type="file"] {
  display: none;
}

.whatMakesItDifferent {
  font-size: 160px;
  color: #a5a7a9;
  font-weight: 900;
  font-style: normal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
}

.featureContainer {
  overflow-x: hidden;
}

.featureVideo,
.featureImage {
  height: 512px;
  border-radius: 12px;
}

@media (max-width: 1280px) {
  .hero-img {
    background-image: url(../public/images/heroBannerMobile.webp);
  }
  .hero-img-logo {
    position: absolute;
    top: 24px;
    left: 24px;
  }

  .whatMakesItDifferent {
    font-size: 52px;
  }

  .featureVideo,
  .featureImage {
    height: 300px;
  }
}
